@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", serif;
    font-weight: 400;
    font-style: normal;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #f9f9f9;
}

h2{
    /* margin: 0px 0px 50px 0px; */
    font-size: 2rem;
    text-align: center;
}

section{
    position: relative;
    max-width: 1200px;
    width: 100%;
    padding: 25px;
    border-radius: 20px;
    background-color: aliceblue;
    box-shadow: 0 0 15px rgba(0, 0 ,0, 0.1);
    color : #333;
}

.main{
    padding: 20px;
}

.form .input-box{
    width: 100%;
}

.input-box input, .date input, .description textarea{
    position: relative;
    height: 40px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    margin-top: 10px;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 10px 15px;
}

.date-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 30px;
}

.date-container .date{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.date div{
    text-align: center;
    padding: 20px;
}

.description textarea{
    resize: none;
    height: auto;
}

.bottom-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-button{
    text-align: center;
}

li {
    list-style-type: none;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
}

li .quantity{
    position: absolute;
    right: 10px;
}

li .remove {
    position: absolute;
    left: 10px;
    background-color: rgb(250, 107, 107);
    width: 18px;
    padding: 0px;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}

.main-button button, .second-button button, .controls button, .delete-button button{
    position: relative;
    background-color: #6191d8;
    padding: 10px 22px;
    border-radius: 6px;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: transform 0.2s ease;
    box-shadow: 0 5px, 10px, rgba(0, 0 ,0, 0.1);
}

/* Overwrite the colors of the primary buttons */
.second-button button, .controls .close-button{
    background-color: #dbdbdb;
    color: #707070;
}

.delete-button button{
    background-color: rgb(255, 42, 42);
}

.delete-button button:active{
    transform: scale(0.90);
}

.main-button button:active, .second-button button:active, .controls button:active{
    transform: scale(0.90);
}

.popup{
    min-width: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color:aliceblue;
    translate: -50% -50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none; /*hide by default*/
}

.popup.active {
    display: block; /* Show when active */
    opacity: 1;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.popup div{
    padding: 10px;
}

.popup .popup-content{
    display: flex;
    flex-direction: column;
}

.overlay.active{
    display: block;
    opacity: 1;
}

.controls{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.popup-content .selectors{
    display: flex;
    justify-content: flex-end;

}

.popup-content select{
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #707070;
}

#radio-buttons{
    display: flex;
    justify-content: space-evenly;
}