body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;

}

header, section, footer{
    margin: 10px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

h2{
    text-align: center;
    margin: 0;
}

li{
    margin: 0 10px;
}

section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.calendar{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.calendar div{
    width: 100%;
}

.calendar_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button{
    margin: 20px;
    text-align: center;
}

.days{
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(7, 1fr);
}

.day{
    text-align: center;
    padding: 5px;
}

.dates{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.date{
    display: flex;
    margin: 5px 0px 5px 0px;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 2px;
}

/* This customises every div inside the dates (the hours) */
.date div{
    height: 100%;
}

/* .zero{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.twenty{
    border-bottom: 1px solid black;
} */

.date p{
    text-align: center;
    margin: 0;
}

#monthYear{
    text-align: center;
    margin: 10px;
    font-weight: bold;
    font-size: 30px;
}

.calendar_header, .days, .createEvent{
    flex-grow: 1;
}

.dates{
    flex-grow: 10;
}